@import 'tailwindcss';

@theme {
  --color-primary-800: oklch(0.2221 0 0);
  --color-primary-500: oklch(0.4276 0.0147 248.17);
  --color-background-dark: oklch(0.9109 0.007 247.9);
  --color-background-light: oklch(0.9191 0.0029 84.56);
  --color-border-grey: oklch(0.7692 0.0145 248.02);

  
  --color-danger-higlighter: ;
  --color-cta-highlighter: ;
  --color-success-highlighter: ;
}

@layer utilities {
  .btn {
    @apply w-[180] inline-flex items-center justify-center rounded-md px-4 py-2 border border-primary-800 bg-primary-800 text-white text-sm font-normal hover:cursor-pointer hover:font-bold;
  }

  .btnSecondry {
    @apply w-[180] inline-flex items-center justify-center rounded-md px-4 py-2  text-primary-500 border border-primary-500 text-sm font-normal hover:cursor-pointer hover:font-bold;
  }

  .labelText {
    @apply font-medium text-[15px];
  }
}