@import 'tailwindcss';

@theme {
  --color-primary-800: oklch(0.2221 0 0);
  --color-primary-500: oklch(0.4276 0.0147 248.17);
  --color-background-dark: oklch(0.9109 0.007 247.9);
  --color-background-light: oklch(0.9191 0.0029 84.56);
  --color-border-grey: oklch(0.7692 0.0145 248.02);

  --color-success-higlighter: oklch(61.69% 0.097 196.70);
  --color-danger-higlighter: oklch(42.44% 0.136 7.24);
  --color-cta-highlighter: ;
  --color-success-highlighter: ;
}

@layer utilities {
  .btn {
    @apply w-[180] inline-flex items-center justify-center rounded-md px-4 py-2 border border-primary-800 bg-primary-800 text-white text-sm font-normal hover:cursor-pointer hover:font-bold;
  }

  .btnSecondry {
    @apply w-[180] inline-flex items-center justify-center rounded-md px-4 py-2  text-primary-500 border border-primary-500 text-sm font-normal hover:cursor-pointer hover:font-bold;
  }

  .labelText {
    @apply font-medium text-[15px];
  }
}

.spinner {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.1); /* base */
  border-top: 2px solid var(--color-primary-500); /* spinner color */
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
